body{
    background: url("../images/fazenda.jpg") no-repeat no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 660px;
}

.login-box{
    background-color:	#cfc6ad;
    max-width: 600px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 180px;
    border-radius: 20px;
    border: 5px solid #421010;
}

.logo{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;    
    text-decoration: none;
    color: black;
}

.login-form{
    max-width: 300px;
    margin: 40px auto;
    text-align: center;
}

input[type=text]{
    width: 100%;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid #bc7444;
}

input[type=email]{
    width: 100%;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid #bc7444;
}

input[type=password]{
    width: 100%;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid #bc7444;
}

input[type=submit]{
    width: 100px;
    height: 32px;
    background-color: light;
    border-radius: 10px;
    border: 1px solid #bc7444;
    color: #421010;
    background-color: 	#bc7444;
    font-weight: bold;
}

@media (max-width: 767px){
    .logo{
        width: 80px;
    }width: 100%;
    border-radius: 15px;
    padding: 4px 10px;
    border: 2px solid brown;
}

@media (max-width: 700px){
    .login-box{
        margin: 100px 20px;
    }
}

.center{text-align: center}

.my-container{
    background-color: transparent;
}