body {
  font: 16px Helvetica;
  background: #ecf0f1;
}

.container {
  max-width: 750px;
  margin: 100px auto;
}

.silver, .plat {
  float: left;
  width: 250px;
  background: white;
  text-align: center;
}

.gold {
  float: left;
  position: relative;
  width: 250px;
  top: -50px;
  padding: 50px 0;
  background: #9c8d73;
  text-align: center;
  border-radius: 5px;
}
.gold > .price {
  background: white;
  color: rgba(0, 0, 0, 0.7);
}
.gold > h1, .gold > h2, .gold > p, .gold > span {
  color: white;
}

h1 {
  margin: 20px 0 10px 0;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: .75em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 100;
  letter-spacing: 1px;
}

p {
  color: rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  font-weight: 100;
  font-size: .75em;
}

span {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: inline-block;
  width: 125px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.price {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #bc7444;
  border-radius: 50%;
  line-height: 100px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  margin: 20px auto;
}

button {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 35px;
  border-bottom: 5px solid #c0392b;
  background: #bc7444;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: .75em;
  font-weight: 100;
  transition: all ease-in-out .2s;
  cursor: pointer;
}
button:hover {
  background: #261a13;
}
