body {
	background-color: #000;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

.my-container {
	overflow: hidden;
	background-color: #000;
	padding: 0 !important;
	/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

header {
	height: 60px;
	position: relative;
	background-color: #421010;
}

header h1 {
	color: white;
	text-align: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 20px;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	display: none;
}

.burger li {
	width: 30px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	margin: 5px 0;
}

.burger.open li {
	background-color: #d9dde1;
}

nav {
	position: absolute;
	top: 0;
	right: 5px;
}

nav li {
	float: left;
	display: inline-block;
}

nav li a {
	font-size: 11px;
	color: white;
	padding: 24px 15px;
	display: block;
}

nav li a:hover {
	color: #9c8d73;
}

/*  Removable CSS  */

.header-section,
.body-section,
.footer-section {
	padding: 20px;
}

.header-section {
	background-color: #ffffff;
}

.body-section {
	background-color: #000000;
}

.footer-section {
	background-color: #cfc6ad;
	text-align: center;
}

.placefiller {
	margin-top: 10px;
	text-align: center;
	font-size: 200px;
}

.header-section .placefiller {
	line-height: 300px;
}

.body-section .placefiller {
	line-height: 900px;
}

.footer-section .placefiller {
	line-height: 200px;
	border: 1px dashed rgba(190, 196, 202, 0.9);
}

@media only screen and (max-width: 780px) {
	header {
		height: 60px;
		z-index: 2;
		background-color: #421010;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		/* starting point */
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	header h1 {
		color: #ffffff;
		text-align: center;
		padding-left: 0;
		display: block;
	}
	.burger {
		display: block;
	}
	/*  Nav Drawer Layout  */
	nav {
		position: relative;
	}
	nav ul {
		height: 100%;
		overflow-y: auto;
	}
	nav li {
		display: block;
		float: none;
	}
	nav li a {
		padding: 22px 25px;
		letter-spacing: 3px;
		font-size: 14px;
	}
	nav li a.logo {
		display: none;
	}
	nav li a.active {
		color: #fff;
		background-color: #141e23;
	}
	nav li a:hover {
		color: #fff;
		background-color: #19252c;
	}
	nav li:first-child a.active,
	nav li:first-child a:hover {
		border-radius: 10px 0 0 0;
	}
	.header-section {
		margin-top: 60px;
	}
	/* NAVIGATION ANNIMATION */
	nav {
		width: 93%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		border-radius: 8px;
		/* starting point */
		opacity: .3;
		-webkit-transform: translate3d(5%, 0, 0)scale(.97);
		-moz-transform: translate3d(5%, 0, 0)scale(.97);
		transform: translate3d(5%, 0, 0)scale(.97);
	}
	/*Nav Expanding Open Effect*/
	nav.open {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0)scale(1);
		-webkit-animation: slideIn .35s ease-in-out;
		-moz-transform: translate3d(0, 0, 0)scale(1);
		-moz-animation: slideIn .35s ease-in-out;
		transform: translate3d(0, 0, 0)scale(1);
		animation: slideIn .35s ease-in-out;
	}
	@-webkit-keyframes slideIn {
		0% {
			opacity: .3;
			-webkit-transform: translate3d(5%, 0, 0)scale(.97);
		}
		100% {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0)scale(1);
		}
	}
	@-moz-keyframes slideIn {
		0% {
			opacity: .3;
			-moz-transform: translate3d(5%, 0, 0)scale(.97);
		}
		100% {
			opacity: 1;
			-moz-transform: translate3d(0, 0, 0)scale(1);
		}
	}
	@keyframes slideIn {
		0% {
			opacity: .3;
			transform: translate3d(5%, 0, 0)scale(.97);
		}
		100% {
			opacity: 1;
			transform: translate3d(0, 0, 0)scale(1);
		}
	}
	/*Nav Shrinking Closed Effect*/
	nav.close {
		opacity: .3;
		-webkit-transform: translate3d(5%, 0, 0)scale(.97);
		-webkit-animation: slideOut .3s ease-in-out;
		-moz-transform: translate3d(5%, 0, 0)scale(.97);
		-moz-animation: slideOut .3s ease-in-out;
		transform: translate3d(5%, 0, 0)scale(.97);
		animation: slideOut .3s ease-in-out;
	}
	@-webkit-keyframes slideOut {
		0% {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0)scale(1);
		}
		100% {
			opacity: .3;
			-webkit-transform: translate3d(5%, 0, 0)scale(.97);
		}
	}
	@-moz-keyframes slideOut {
		0% {
			opacity: 1;
			-moz-transform: translate3d(0, 0, 0)scale(1);
		}
		100% {
			opacity: .3;
			-moz-transform: translate3d(5%, 0, 0)scale(.97);
		}
	}
	@keyframes slideOut {
		0% {
			opacity: 1;
			transform: translate3d(0, 0, 0)scale(1);
		}
		100% {
			opacity: .3;
			transform: translate3d(5%, 0, 0)scale(.97);
		}
	}
	/* CONTENT ANNIMATION */
	.content {
		/* starting point */
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index: 1;
	}
	/*Content Sliding Open Effect*/
	header.open,
	.content.open {
		-webkit-transform: translate3d(240px, 0, 0);
		-webkit-animation: open .5s ease-in-out;
		-moz-transform: translate3d(240px, 0, 0);
		-moz-animation: open .5s ease-in-out;
		transform: translate3d(240px, 0, 0);
		animation: open .5s ease-in-out;
	}
	@-webkit-keyframes open {
		0% {
			-webkit-transform: translate3d(0, 0, 0);
		}
		70% {
			-webkit-transform: translate3d(260px, 0, 0);
		}
		100% {
			-webkit-transform: translate3d(240px, 0, 0);
		}
	}
	@-moz-keyframes open {
		0% {
			-moz-transform: translate3d(0, 0, 0);
		}
		70% {
			-moz-transform: translate3d(260px, 0, 0);
		}
		100% {
			-moz-transform: translate3d(240px, 0, 0);
		}
	}
	@keyframes open {
		0% {
			transform: translate3d(0, 0, 0);
		}
		70% {
			transform: translate3d(260px, 0, 0);
		}
		100% {
			transform: translate3d(240px, 0, 0);
		}
	}
	/*Content Sliding Closed Effect*/
	header.close,
	.content.close {
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-animation: close .3s ease-in-out;
		-moz-transform: translate3d(0, 0, 0);
		-moz-animation: close .3s ease-in-out;
		transform: translate3d(0, 0, 0);
		animation: close .3s ease-in-out;
	}
	@-webkit-keyframes close {
		0% {
			-webkit-transform: translate3d(240px, 0, 0);
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0);
		}
	}
	@-moz-keyframes close {
		0% {
			-moz-transform: translate3d(240px, 0, 0);
		}
		100% {
			-moz-transform: translate3d(0, 0, 0);
		}
	}
	@keyframes close {
		0% {
			transform: translate3d(240px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}
	.logo {
		display: none;
	}
	.profile {
		left: 25px !important;
	}
	.perfil {
		margin-left: 75px !important;
	}
}

.header-section {
	background: url("../images/fazenda.jpg") no-repeat no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 660px;
}

.title {
	text-align: center;
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px 0 black;
}

.circles {
	margin-top: 200px;
}

.logo {
	max-width: 50px;
	height: auto;
	position: absolute;
	left: 25px;
	top: 0;
	padding: 2px;
}

.name {
	margin-left: 60px;
}

.empresa {
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
	font-size: 20px;
}

.user {
	position: relative;
	width: 60px;
}

.profile {
	width: 40px;
	position: absolute;
	top: 10px;
	left: 0;
}

.perfil {
	margin-left: 45px;
	color: white;
	padding: 24px 5px;
	display: block;
	letter-spacing: 3px;
	font-size: 11px;
}

nav li h4 {
	color: white;
	padding: 24px 5px;
	display: block;
	letter-spacing: 3px;
	font-size: 14px;
}

.relative {
	position: relative;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #421010;
	min-width: 109px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	/* padding: 12px 16px; */
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.content-dropdown {
	padding: 10px;
}

.content-dropdown:hover {
	background-color: white;
}

.dark {
	color: #261a13
}

.body-downloads {
	background-color: #F5F4E1;
	text-align: center;
	height: 100%;
}

.body-contato {
	background: url("../images/cafe.jpg") no-repeat no-repeat center;
	text-align: center;
	min-height: 668px;
}

.contato-form {
	max-width: 300px;
	margin: 40px auto;
	text-align: center;
}

.contato-form input[type=text] {
	width: 100%;
	border-radius: 10px;
	padding: 4px 10px;
	border: 2px solid #bc7444;
}

.contato-form input[type=email] {
	width: 100%;
	border-radius: 10px;
	padding: 4px 10px;
	border: 2px solid #bc7444;
}

.contato-form textarea {
	width: 100%;
	border-radius: 10px;
	padding: 4px 10px;
	border: 2px solid #bc7444;
}

.contato-form input[type=submit] {
	width: 100px;
	height: 32px;
	background-color: light;
	border-radius: 10px;
	border: 1px solid #bc7444;
	color: #421010;
	background-color: #bc7444;
	font-weight: bold;
	cursor: pointer;
}

@media (max-width:780px) {
	.contato-form {
		margin: 70px auto;
	}
	.body-downloads {
		margin-top: 60px;
	}
}

.contato {
	text-shadow: 0 0 0 white;
}

.body-downloads img {
	max-width: 300px;
}

.body-downloads h1 {
	font-size: 22px;
	color: #261a13;
}

.users-box {
	background-color: #cfc6ad;
	max-width: 800px;
	min-height: 400px;
	margin: 0 auto;
	border-radius: 20px;
	border: 5px solid #421010;
}

.users-section {
	background: url("../images/fazenda.jpg") no-repeat no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 532px;
	padding: 100px 0 0 0;
}

/* .table-users{
	max-width: 600px;
	margin: 20px auto;
	background-color: white;
	max-height: 600px;
} */

.users-section td{
	padding: 5px;
}

.table-users {
	border: 1px solid #327a81;
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100% - 2em);
	margin: 1em auto;
	overflow: hidden;
  }
  table {
	width: 100%;
  }
  table td, table th {
	color: #2b686e;
	padding: 10px;
  }
  table td {
	text-align: center;
	vertical-align: middle;
  }
  table td:last-child {
	font-size: 0.95em;
	line-height: 1.4;
	text-align: left;
  }
  table th {
	background-color: #daeff1;
	font-weight: 300;
	text-align: center;
  }
  table tr:nth-child(2n) {
	background-color: white;
  }
  table tr:nth-child(2n+1) {
	background-color: #edf7f8;
  }
  @media screen and (max-width: 700px) {
	table, tr, td {
	  display: block;
	}
	td:first-child {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 200px;
	}
	td:not(:first-child) {
	  clear: both;
	  margin-left: 200px;
	  padding: 4px 20px 4px 90px;
	  position: relative;
	  text-align: left;
	}
	td:not(:first-child):before {
	  color: #91ced4;
	  content: '';
	  display: block;
	  left: 0;
	  position: absolute;
	}
	td:nth-child(2):before {
	  content: 'E-mail:';
	}
	td:nth-child(3):before {
	  content: 'Permissão:';
	}
	td:nth-child(4):before {
	  content: 'Ativo:';
	}
	tr {
	  padding: 10px 0;
	  position: relative;
	}
	tr:first-child {
	  display: none;
	}
  }
  @media screen and (max-width: 500px) {
	.header {
	  background-color: transparent;
	  color: #fff;
	  font-size: 2em;
	  font-weight: 700;
	  padding: 0;
	  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	}
	img {
	  border: 3px solid;
	  border-color: #daeff1;
	  height: 100px;
	  margin: 0.5rem 0;
	  width: 100px;
	}
	td:first-child {
	  background-color: #c8e7ea;
	  border-bottom: 1px solid #91ced4;
	  border-radius: 10px 10px 0 0;
	  position: relative;
	  top: 0;
	  transform: translateY(0);
	  width: 95%;
	}
	td:not(:first-child) {
	  margin: 0;
	  padding: 5px 1em;
	  width: 100%;
	}
	td:not(:first-child):before {
	  font-size: 0.8em;
	  padding-top: 0.3em;
	  position: relative;
	}
	td:last-child {
	  padding-bottom: 1rem !important;
	}
	tr {
	  background-color: white !important;
	  border: 1px solid #6cbec6;
	  border-radius: 10px;
	  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	  margin: 0.5rem 0;
	  padding: 0;
	}
	.table-users {
	  border: none;
	  box-shadow: none;
	  overflow: visible;
	}
	tbody{
		margin: 0 auto;
	}
  }
  


.arrow{
	position: absolute;
	left: calc(50% - 20px);
	top: 600px;
	width: 40px;

}

@media (max-width: 933px){
	.arrow{
		top: 660px;
	}
}

@media (max-width: 826px){
	.arrow{
		top: 885px;
	}
}

@media (max-width: 781px){
	.arrow{
		display: none;
	}
}

.plan-box{
    background-color:	#cfc6ad;
    max-width: 600px;
    min-height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid #421010;
}

.plan-box h3{
	font-size: 22px;
	max-width: 300px;
	margin: 10px auto;
	text-align: center;
	color: #261a13;
}

.plan-box h2{
	font-size: 18px;
	max-width: 200px;
	margin: 10px auto;
	text-align: center;
	color: #594c3d;
}

.plan-box h2 strong{
	color: #bc7444;
}

.plan-box input[type=submit] {
	width: 100px;
	height: 32px;
	background-color: light;
	border-radius: 10px;
	border: 1px solid #bc7444;
	color: #421010;
	background-color: #bc7444;
	font-weight: bold;
	cursor: pointer;
}

.plan-box .buttons{
	max-width: 250px;
	margin: 20px auto;
	text-align: center;
}

.plan-box select{
    width: 100%;
    border-radius: 10px;
    padding: 4px 10px;
	border: 2px solid #bc7444;
	margin: 10px auto;
}

.plan-box option{
    width: 100%;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid #bc7444;
}

.plan-box h3{
	font-size: 16px;
	max-width: 300px;
	margin: 10px auto;
	text-align: center;
	color: #594c3d;
}